<%= render 'books/list', books: @book %>

<h2>Books</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspsn="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        <% end %>
    </tbody>
</table>